trigger:
  branches:
    include:
      - main

pool:
  name: Default   # This makes the pipeline run on your Mac agent

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm ci
      npx playwright install --with-deps
      npx playwright test
    displayName: 'Install and Run Playwright Tests'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results/*.xml'
      testRunTitle: 'Playwright Tests'
    condition: always()

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: 'playwright-report'
      artifactName: 'PlaywrightReport'
    condition: always()